@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.container {
  max-width: 1227px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding-top: 45px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  margin-right: 34px;
}

.header__item1 {
  margin-right: 18px;
}

.header__link11 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  color: #202336;
}

.header__link {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: #B8BECD;
}

.header__botton {
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  color: #FB8F1D;
  padding-right: 34px;
  border: 2px solid #FB8F1D;
  background: #FFFFFF;
  padding: 16px 46px 15px 46px;
  border-radius: 8px;
  cursor: pointer;
}

.header__botton2 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  border: none;
  background: #FB8F1D;
  padding: 18px 48px 18px 48px;
  border-radius: 8px;
  cursor: pointer;
}

.burger {
  display: none;
}

.burger__menu {
  width: 80px;
  height: 70px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

.burger__line {
  background: #000000;
  height: 6px;
  margin-top: 7px;
}

.burger .header__item {
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.burger .header__item1 {
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.burger .header__item2 {
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.burger__list {
  position: absolute;
  right: -490px;
  background: #fff;
  -webkit-transition: 1s;
  transition: 1s;
  height: 0;
  width: 0;
  overflow: hidden;
}

.burger__close {
  display: none;
  font-family: 'Inter';
  font-weight: 900;
  font-size: 40px;
}

.burger.active .burger__list {
  right: 0;
  width: 100vw;
  height: 100vh;
}

.burger.active .burger__close {
  display: block;
}

.burger.active .burger__line {
  display: none;
}

.burger.active .header__item {
  margin-right: 0;
}

.burger.active .header__item1 {
  margin-right: 0;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 64px;
  color: #202336;
  /*padding-top: 114px;*/
  width: 400px;
}

.hero__suptitle {
  font-family: "Inter";
  font-weight: 600;
  font-size: 22px;
  color: #202336;
  padding-top: 74px;
}

.hero__line {
  width: 32px;
  height: 2px;
  background: #202336;
  border-radius: 4px;
  margin-top: 21px;
}

.hero__right {
  padding-top: 92px;
}

.hero__right img {
  max-width: 100%;
}

.hero__down {
  margin-left: 60px;
}

.hero__down2 {
  margin-left: 77px;
}

.hero__down3 {
  margin-left: 79px;
}

.hero__suptitle2 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #4A4C53;
  padding: 10px 20px;
  border: 0.8px solid #AFB0B9;
  border-radius: 6px;
  background: #FFFFFF;
}

.hero__suptitle3 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #4A4C53;
  padding: 10px 22px 10px 20px;
  border: 0.8px solid #AFB0B9;
  border-radius: 6px;
  background: #FFFFFF;
}

.hero__suptitle4 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #4A4C53;
  padding: 10px 21px 10px 20px;
  border: 0.8px solid #AFB0B9;
  border-radius: 6px;
  background: #FFFFFF;
}

.hero__select {
  width: 385px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 48px;
}

.hero__botton {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  border: 2px solid #FB8F1D;
  background: #FB8F1D;
  padding: 16px 35px 15px 37px;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero__botton:hover {
  background: #FFFFFF;
  color: #FB8F1D;
}

.hero__bottom {
  padding-top: 51px;
}

.hero__box {
  cursor: pointer;
}

.hero__cicrle {
  padding-left: 400px;
}

.hero__plus {
  padding-top: 114px;
  padding-left: 475px;
}

.way__title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 36px;
  color: #000;
}

.way__description {
  font-family: "Mulish";
  font-weight: 300;
  font-size: 17.5px;
  color: #7D7987;
  padding-top: 20px;
  width: 450px;
  height: 120px;
}

.way__botton-more {
  padding-top: 30px;
}

.way__btn {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border: 2px solid #FB8F1D;
  background: #FB8F1D;
  padding: 16px 35px 15px 37px;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.way__btn:hover {
  background: #FFFFFF;
  color: #FB8F1D;
}

.way__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*padding-top: 286px;*/
}

.way__right {
  padding-left: 102px;
}

.way__plus {
  padding-top: 286px;
  padding-left: 650px;
}

.way__cicrle {
  padding-left: 260px;
}

.way__left img {
  max-width: 100%;
}

.features {
  padding-top: 262px;
}

.features__content {
  margin: 0 30px 0 30px;
}

.features__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 36px;
  color: #000;
  padding-top: 30px;
}

.features__details {
  border: none;
  background: #FFFFFF;
  width: 95px;
  padding: 11px 22px 5px 0;
  border-radius: 0px 6px 0px 0px;
  position: absolute;
  top: 365px;
  bottom: 0;
}

.features__suptitle {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  color: #202336;
}

.features__description {
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #B8BECD;
  padding-top: 5px;
}

.features__box {
  padding-top: 87px;
  margin-right: 27px;
  position: relative;
}

.features__img {
  border-radius: 8px 8px 8px 8px;
}

.features__view {
  font-family: "Inter";
  font-weight: 600;
  font-size: 17px;
  color: #FB8F1D;
  cursor: pointer;
}

.features__all {
  margin-left: 11px;
}

.features__see {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.features__cicrle {
  padding-left: 90px;
}

.features__cicrle1 {
  padding-top: 50px;
  padding-left: 200px;
}

.guides__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px 0 30px;
}

.guides__title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 36px;
  color: #000;
  width: 400px;
  height: 100px;
}

.guides__description {
  font-family: "Mulish";
  font-weight: 300;
  font-size: 17.5px;
  color: #7D7987;
  padding-top: 20px;
  width: 450px;
  height: 90px;
}

.guides__bottom {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  width: 90px;
  margin-top: 39px;
  border: 2px solid #FB8F1D;
  background: #FB8F1D;
  padding: 16px 34px 15px 40px;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.guides__bottom:hover {
  background: #FFFFFF;
  color: #FB8F1D;
}

.guides__right {
  padding-left: 80px;
}

.guides__right img {
  max-width: 100%;
}

.guides__cicrle {
  padding-right: 40px;
}

.guides__cicrle1 {
  margin-top: 150px;
  padding-left: 230px;
}

.guides__plus {
  padding-left: 330px;
}

.comment__title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 36px;
  color: #000;
  padding-top: 248px;
  margin-left: 30px;
}

.comment__star {
  padding: 145px 15px 0 0;
}

.comment__suptitle {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 24px;
  color: #000;
  width: 450px;
  height: 144px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.comment__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 30px 0 30px;
}

.comment__right {
  padding-top: 60px;
  padding-left: 225px;
  position: relative;
}

.comment__name {
  font-family: "Inter";
  font-weight: 700;
  font-size: 22px;
  color: #000;
  padding-bottom: 11px;
}

.comment__details {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.85);
}

.comment__photo {
  border-radius: 16px 16px 0 0;
}

.comment__icon__next {
  padding-left: 22px;
}

.comment__icons {
  border: none;
  background: #fff;
  padding: 20px 0 0 30px;
  border-radius: 16px 0px 0px 0px;
  position: absolute;
  top: 492px;
  left: 473px;
  bottom: 0;
}

.comment__plus {
  width: 31px;
  height: 31px;
  -webkit-transform: rotate(8.17deg);
          transform: rotate(8.17deg);
  position: absolute;
  top: 542px;
  right: 366px;
}

.comment__cicrle {
  position: absolute;
  left: 582px;
  bottom: 475px;
}

.comment__plus1 {
  padding-left: 420px;
}

.story__title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 36px;
  color: #000;
  padding-top: 57px;
  /*padding-bottom: 56px;*/
}

.story__suptitle {
  font-family: "Inter";
  font-weight: 700;
  font-size: 19px;
  color: #000;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 219px;
}

.story__suptitle2 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 19px;
  color: #000;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 242px;
}

.story__suptitle3 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 19px;
  color: #000;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 252px;
}

.story__suptitle4 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 19px;
  color: #000;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 251px;
}

.story__description {
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #7D7987;
  width: 266px;
}

.story__btn {
  font-family: "Inter";
  font-weight: 600;
  font-size: 15px;
  color: #FB8F1D;
  padding-top: 23px;
  /* padding-bottom: 270px;*/
  cursor: pointer;
}

.story__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.story__content {
  margin: 0 0 0 30px;
}

.story__photo11 {
  width: 284px;
  height: 260px;
  border-radius: 9px 9px 0 0;
}

.story__photo11:hover {
  background: url(/img/story/img33.png);
}

.story__photo22 {
  width: 284px;
  height: 260px;
  border-radius: 9px 9px 0 0;
}

.story__photo33 {
  width: 284px;
  height: 260px;
  border-radius: 9px 9px 0 0;
}

.story__photo44 {
  width: 284px;
  height: 260px;
  border-radius: 9px 9px 0 0;
}

.story__box {
  padding-top: 56px;
}

.story__view {
  font-family: "Inter";
  font-weight: 600;
  font-size: 17px;
  color: #FB8F1D;
  cursor: pointer;
}

.story__all {
  margin-left: 11px;
}

.story__see {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.story__plus {
  padding-top: 213px;
  padding-left: 460px;
}

.story__cicrle {
  padding-top: 60px;
  padding-right: 30px;
}

.story__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 100px;
}

.footer {
  background: #F9F9FB;
}

.footer__logo {
  padding-top: 92px;
  padding-bottom: 40px;
}

.footer__suptitle {
  font-family: "Mulish";
  font-weight: 300;
  font-size: 18px;
  color: #7D7987;
  width: 391px;
  padding-bottom: 55px;
}

.footer__description {
  font-family: "Mulish";
  font-weight: 300;
  font-size: 17px;
  color: #7D7987;
}

.footer__item {
  font-family: "Mulish";
  font-weight: 300;
  font-size: 18px;
  color: #7D7987;
  margin-bottom: 15px;
  cursor: pointer;
}

.footer__suptitle1 {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 19px;
  color: #000;
  padding-top: 95px;
  margin-bottom: 20px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__icons {
  padding-top: 30px;
  padding-bottom: 32px;
  margin-right: 35px;
  cursor: pointer;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #C4C4C4;
  margin-top: 77px;
}

.footer__box1 {
  padding-top: 10px;
}

@media screen and (max-width: 1243px) {
  .features__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 700px;
    margin: 0 auto;
  }
  .features__box {
    margin-right: auto;
    margin-left: auto;
  }
  .features__content {
    margin: 0 auto;
  }
  .story__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .story__bottom {
    width: 700px;
  }
}

@media screen and (max-width: 1150px) {
  .comment__content {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    max-width: 600px;
    margin: 0 auto;
  }
  .comment__right {
    padding-left: 0;
  }
  .comment__icons {
    left: 248px;
  }
  .comment__cicrle {
    left: 370px;
  }
}

@media screen and (max-width: 981px) {
  .guides__content {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    max-width: 555px;
    margin: 0 auto;
  }
  .guides__left {
    padding-top: 30px;
  }
  .way__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 440px;
    margin: 0 auto;
  }
  .way__right {
    padding-top: 30px;
  }
  .footer__box1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 930px) {
  .story__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features__bottom {
    width: 0;
    margin: 0 auto;
  }
}

@media screen and (max-width: 900px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 854px) {
  .burger__menu {
    display: block;
  }
  .burger__list {
    display: block;
    margin: 0 auto;
  }
  .header__list {
    display: none;
  }
  .hero__content {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .way__right {
    padding-left: 0;
  }
  .features__cicrle {
    padding-left: 58px;
  }
}

/*@media screen and (max-width: 751px) {
    .header {
        &__list {
            display: none;
        }

        &__content {
            flex-wrap: wrap-reverse;
        }

        &__left {
            img {
                width: 230px;
            }
        }
    }*/
@media screen and (max-width: 750px) {
  .story__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 0;
  }
}

@media screen and (max-width: 400px) {
  .way__right {
    padding-left: 0;
    margin: 0 auto;
    width: 330px;
  }
  .way__description {
    width: 330px;
  }
  .way__plus {
    padding-top: 286px;
    padding-left: 205px;
  }
  .features__bottom {
    margin-left: 0;
    margin: 0 auto;
  }
  .features__cicrle1 {
    padding-top: 50px;
    padding-left: 80px;
  }
  .guides__description {
    width: 330px;
  }
  .comment__suptitle {
    width: 330px;
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .comment__content {
    margin-left: 20px;
  }
  .comment__photo {
    width: 300px;
  }
  .comment__icons {
    left: 185px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .comment__plus {
    top: 440px;
    right: 280px;
  }
  .comment__plus1 {
    padding-left: 100px;
    padding-top: 20px;
  }
  .comment__cicrle {
    left: 280px;
    top: 25px;
  }
  .story__bottom {
    width: 0;
    margin-left: 30px;
  }
  .story__see {
    padding-top: 20px;
  }
  .story__plus {
    padding-top: 213px;
    padding-left: 219px;
  }
  .footer__title {
    width: 0;
  }
  .footer__suptitle {
    width: 280px;
  }
  .hero__plus {
    padding-left: 189px;
  }
  .hero__cicrle {
    padding-left: 150px;
  }
  .hero__select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 184px;
    height: 183px;
  }
  .hero__title {
    width: 200px;
  }
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, h7, p {
  margin: 0;
}
/*# sourceMappingURL=index.css.map */