$text-black:#000;
$text-white:#fff;
$text-light__gray: #7D7987;
$text-yellow:#FB8F1D;
$text-dark__gray:#202336;
$text-gray:#B8BECD;


$bg-yellow:#FB8F1D;
$bg-white:#FFFFFF;
$bg-black:#000000;
$bg-gray:#F9F9FB;
$bg-dark__gray:#202336;